<section id="section-about">
    <h3 id="me">Me</h3>
    <div class="face-area">
        <div class="face-img">
           <div class="img-rot"></div>
        </div>
        <div class="icon-mixer">
            <div class="mixer-top">{% include icons/mixer.html %}</div>
            <div class="mixer-hovered">{% include icons/mixer-hovered.html %}</div>
        </div>
        <div class="icon-code">
            <div class="code-top">{% include icons/code.html %}</div>
            <div class="code-hovered">{% include icons/code-hovered.html %}</div>
        </div>
        <div class="icon-pacman">
            <div class="pacman-top">{% include icons/pacman.html %}</div>
            <dic class="pacman-bottom-1">{% include icons/pacman.html %}</dic>
            <div class="pacman-bottom-2">{% include icons/pacman-upsidedown.html %}</div>
        </div>
        <div class="icon-anchor">{% include icons/anchor.html %}</div>
    </div>
    <div class="intro">  
        <p>{{ site.data.portfolio.intro }}</p>
    </div> 
    <div class="skills"></div>
</section>