<section class="contact-form">
    <h3 class="lets-work">Let's work together</h3>
    <form class="actual-contact-form" action="//formspree.io/{{ site.data.portfolio.email }}"
          method="POST">
        
        <div class="contact-info">
            <label>
                <span>YOUR NAME</span>
                <input type="text" name="name">
            </label>
            <label>
                <span>YOUR EMAIL</span>
                <input type="email" name="_replyto">
            </label> 
        </div>
        <label>
            <span>TELL ME ABOUT YOUR PROJECT</span>
            <textarea name="message"></textarea>
        </label>
        <div class="submit-wrap">
            <input type="submit" id="submit-button" value="Send">
        </div>
    </form>
</section>