.section-contact
    text-align: center
    
    .social-links
        max-width: 900px
        margin: 0 auto 60px
        padding: 0 20px
        +display(flex)
        +justify-content(space-around)
        +flex-wrap(wrap)

        .social-wrap
            position: relative
            +size(50px)
            margin: 20px

            .social-rot
                display: block
                position: absolute
                z-index: 1
                background: $black
                +size(50px)
                transform: rotate(45deg)
                -webkit-transform: rotate(45deg)
                -moz-transform: rotate(45deg)
                -ms-transform: rotate(45deg)
                -o-transform: rotate(45deg)
                +transition(500ms)
                overflow: hidden
                //text-align: center
                cursor: pointer

            a
                display: block
                position: absolute
                margin: 0 auto
                left: 12px
                z-index: 2
                line-height: 50px
                color: $white
                font-size: 25px

            .codecademy-icon
                +position(relative)
                color: $white
                img
                    +position(absolute, 10px 22px null null)
                    filter: invert(100%)
                    +size(32px)
            .fa-soundcloud
                +position(absolute, null null null 9px)
            .fa-google-plus
                +position(absolute, 1px null null 9px)
            .fa-instagram
                +position(absolute, 2px 11px null null)
            .fa-github
                +position(absolute, 1px 13px null null)
            .fa-codepen
                +position(absolute, 1px 11px null null)
            .fa-linkedin
                +position(absolute, null 13px null null)
            .fa-twitter
                +position(absolute, 2px 12px null null)

            &:hover
                .social-rot
                    transform: rotate(0deg)
                    -webkit-transform: rotate(0deg)
                    -moz-transform: rotate(0deg)
                    -ms-transform: rotate(0deg)
                    -o-transform: rotate(0deg)
                    +transition(500ms)
                    background: $red

    .double-hr
        max-width: 280px
        margin: 40px auto
        color: $red

    .huge
        display: inline-block
        font-weight: 300
        //text-align: center
        margin: 20px auto 60px
    
        
    @media (max-width: 840px)
        .social-links
            margin-right: 10px
            margin-left: 10px
            
        .huge
            font-size: 28px
            
            
            
    @media (max-width: 480px)
        .huge
            font-size: 20px