---
---

$animation: "topDoor"
    
/* HEADER PATH MANAGEMENT*/
$avatar-path: '{{ site.data.portfolio.avatar }}'
$background-path: '{{ site.data.portfolio.background }}'

/* THE USUAL*/

@import '1-tools/-tools-index'
@import '2-base/-base-index'
@import '3-modules/-modules-index'
@import '4-pages/-pages-index'